myst_parser
sphinx-rtd-theme
Sphinx
sphinxcontrib-applehelp  
sphinxcontrib-devhelp         
sphinxcontrib-htmlhelp        
sphinxcontrib-httpdomain      
sphinxcontrib-jsmath       
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
asgiref
attrs
autopep8
Deprecated
Django
django-extensions
django-environ
djongo
iniconfig
numpy
packaging
pip
pluggy
py
pycodestyle
pydantic
pymongo==3.12.3
pyparsing
pytest
pytest-django
python-dotenv
pytz
PyYAML
setuptools
sqlparse
toml
tomli
typing_extensions
wheel
wrapt
djangorestframework
